@import url('https://fonts.cdnfonts.com/css/beasigne');
@import url('https://fonts.cdnfonts.com/css/alexandria-4');
@import url('https://fonts.cdnfonts.com/css/belanosima');
*,
*::before
*::after {
    box-sizing: border-box;         /* Regular */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

::-webkit-scrollbar {
      width: 0px;
      background: transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

p {
    margin:0;
    padding:0;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
}

a {
    text-decoration: none;
}

/* GENERAL */

body {
    background-color: #62D0FF;
    font-family: 'Alexandria', sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
/*MAIN*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.main-wrapper {
    background: url(assets/main-bg.png) center no-repeat;
    background-size: 105%;
    padding-bottom: 3em;
}
.main-title {
    font-family: 'Belanosima', sans-serif;
    font-size: 4em;
    line-height: 1em;
    font-weight: 400;
    text-transform: uppercase;

}
.underline {
position: relative;
}
.underline::after {
    position: absolute;
    content: '';
    background-color: white;
    height: 100%;
    width: 100%;
    bottom: -25px;
    left: 0;
    background: url(assets/underline.png) bottom no-repeat;
    transition: .2s all;

}
.underline:hover::after {
    transform: translate(0px, -5px);
}
/*HEADER*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}
.logo {
    font-family:'beasigne';
    text-transform: uppercase;
    color: #0B19CD;
    cursor: pointer;
}
.link {
   
    margin: 0em 1em;
    text-transform: uppercase;
    color: black;
    position: relative;
    
}
.link::after {
position: absolute;
content: '';
background-color: black;
height: 3px;
width: 0%;
bottom: -5px;
left: 0;
transition: .2s all;

}
.link:hover::after {
width: 100%;
}
/*Start section*/

.start-section {
    background-color: #62D0FF;
    height: 150vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2em;
}
.start-text {
    text-align: center;
}
.start-title {
    font-size: 3em;
    text-transform: uppercase;
}
.start-items {
    display: flex;
    justify-content: center;
    gap: 20px;

}
.s-item {

    background: url(assets/math-img.png) center center no-repeat #ae7fe7;
    background-size: 70%;
    height: 300px;
    width: 20%;
    border-radius: 14px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.s-subtitle {
    margin-top: 0.3em;
}
.s-physics {
    flex-grow: 1;
    background: url(assets/atom-img.png) #ae7fe7 right no-repeat;
    background-position: 13em 3em;
    background-size: 65%;
}
.s-english {
    background: url(assets/book-img.png) center no-repeat #b1e7a7;
    background-size: 80%;
}
.s-biology {
    flex-grow: 0.4;
    background: url(assets/dna-img.png) center no-repeat #b1e7a7;
    background-size: 80%;
}
.s-chemistry {
background: url(assets/flask-img.png)center no-repeat #ae7fe7;
background-size: 100%;
}
.s-geography {
    flex-grow: 1;
    background: url(assets/globe-img.png)center no-repeat #b1e7a7;
    background-size: 70%;
    background-position: 11em 3em;
}

.perks-section{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
.perks-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.p-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s all;
    border-radius: 14px;
}
.p-item:hover {
    transform: translate(0px, -20px);
}
.p-top {
background-color: #ae7fe7;
height: 200px;
width: 300px;
border-radius: 14px 14px 0px 0px;
}
.p-bottom {
    background-color: white;
    padding: 2em 0em;
    text-align: center;
    width: 100%;
    border-radius: 0px 0px 14px 14px;
}

.p-book {
    background: url(assets/book2-img.png) center center no-repeat #ae7fe7;
    background-size: 70%;
}
.p-target {
    background: url(assets/target-img.png) center center no-repeat #b1e7a7;
    background-size: 40%;
}
.p-rocket {
    background: url(assets/rocket-img.png) center center no-repeat #ae7fe7;
    background-size: 30%;
}
.footer {
    background-color: #ae7fe7;
    height: 50vh;
    margin: 2em 0em;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.footer-logo {
    color: #E6D4FF;
}
.f-line {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 72%, rgba(0,0,0,0) 100%);

    height: 2px;
    width: 70%;
}
.socials {
    display: flex;
    width: 100%;
    justify-content: center;
}
.socials-title {
    font-size: 1.4em;
    margin-bottom: 15px;
    color: white;
}
.s-link {
    display: block;
    height: 20px;
    width: 20px;
    background-size: 100%;
    margin: 3px;
}
.sl-insta {
    background: url(assets/insta-icon.svg) center no-repeat;
    background-size: 100%;
}
.sl-github {
    background: url(assets/github-icon.svg) center no-repeat;
    background-size: 100%;
}
.sl-wa {
    background: url(assets/wa-icon.svg) center no-repeat;
    background-size: 100%;
}
.sl-discord {
    background: url(assets/discord-icon.svg) center no-repeat;
    background-size: 100%;
}
.footer-inner {
    display: flex;
   
    justify-content: space-around;
    width: 70%;
}
.footer-links {
    display: flex;
    flex-direction: column;
}
.footer-title {
font-size: 16px;
font-weight: 800;
margin-bottom: 10px;
color: #E6D4FF;
}
.footer-link {
    font-size: 14px;
    color: black;
    color: white;
}
.author-link {
    color: #E6D4FF;
}
/*Library*/
.library {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.library-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.library-title {
    text-transform: uppercase;
    font-size: 4.5em;
   
}
.button {
    text-transform: uppercase;
    border-radius: 8px;
    color: black;
    padding: 1em 4em;
    border: 3px solid black;
    font-size: 1.5em;
    transition: .2s all;
}
.button:hover {
    background-color: #ae7fe7;
    border-color: #ae7fe7;
    color: white;
    transform: translate(0%, -5%);
}
.lib-img {
    background: url(assets/library-bg\ \(1\).png) right no-repeat;
    background-size: 95%;
    height: 100%;
    width: 50em;

}
